@using NextTechEvent.Pages
@using NextTechEventNet7.Pages
@using Telerik.Blazor.Components
@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<PageTitle>NextTechEvent</PageTitle>
<NavMenu />
@if (navigationManager.Uri.Replace("#","") == navigationManager.BaseUri)
{
    <Header />
}
<div class="page">
    <main>
        <TelerikRootComponent>
        @Body
        </TelerikRootComponent>
    </main>
    
</div>


