<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="MyTelerikFeed" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
	</packageSources>
	<packageSourceCredentials>
		<MyTelerikFeed>
			<add key="Username" value="api-key" />
			<add key="ClearTextPassword" value="%MY_API_KEY%" />
		</MyTelerikFeed>
	</packageSourceCredentials>
</configuration>