main {
    margin-top: 70px;
    padding-bottom: 50px;
    grid-area: MainArea;
    
}
.page {
    display: grid;
    grid-template-columns: 1fr minmax(600px,3fr) 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "LeftArea MainArea RightArea";
    justify-content: center;
}



/*.LeftArea {
    grid-area: LeftArea;
}

.RightArea {
    grid-area: RightArea;
}*/