@using NextTechEvent.Pages
@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<PageTitle>NextTechEvent</PageTitle>
<NavMenu />
@if (navigationManager.Uri.Replace("#","") == navigationManager.BaseUri)
{
    <Header />
}
<div class="page">
    <main>
        @Body
    </main>
    
</div>


