.navbar-brand {
    color: var(--accent);
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a, a:visited {
    color: var(--accent);
}

.profilelink {
    color: rgba(255,255,255,.55) !important;
}