.navbar-brand {
    color: var(--dark);
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a,
a:visited,
::deep .nav-link {
    color: var(--dark) !important;
}

.profilelink {
    color: rgba(255,255,255,.55) !important;
}