@page "/Profile/MyEvents"
@inject NavigationManager navigation
@inject INextTechEventApi _api

<h3>My events</h3>
<div class="d-flex flex-wrap justify-content-center gap-4">
    @foreach (var conference in conferences)
    {
        <ConferenceItem Item="conference" ShowCFP="false" />
    }
</div>

@code {
    List<Conference> conferences = new();
    protected override async Task OnInitializedAsync()
    {
        conferences = await _api.GetConferencesByUserAsync();
        await base.OnInitializedAsync();
    }
}


    
