table {
    width: 90%;
    
}

td {
    width: 8%;
    height: 50px;
    border: 1px solid black;
    position:relative;
    text-align:center;
}

/*Left Header*/
td:first-child {
    text-align: center;
    width: 50px;
    font-size:20px;
    font-weight:900;
}


th {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    border: 1px solid black;
}

td > small {
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.Color0
{
    
}

.Color1 {
    background-color: #e4ff7a;
}

.Color20 {
    background-color: #ffe81a;
}

.Color40 {
    background-color: #ffbd00;
}

.Color60 {
    background-color: #ffa000;
}


.Color80 {
    background-color: #fc7f00;
}


