@inject INextTechEventApi _api

<h2>Overlapping conferences</h2>
<table>
    <Virtualize Items="Conferences" Context="c">
       <tr>
             <td class="date p-2">
                @c.EventStart
            </td>
            <td class="conferencename">
                <a href="@($"Conferences/{c.Id}")">@c.Name</a>
            </td>
            <td>
                @string.Join(", ", c.Tags)
            </td>
        </tr>
    </Virtualize>
</table>
@code
{
    List<Conference> Conferences = new();
    [Parameter]
    public DateOnly Start { get; set; }
    [Parameter]
    public DateOnly End { get; set; }
    protected async override Task OnParametersSetAsync()
    {
        Conferences = await _api.GetConferencesAsync(Start, End);
        await base.OnParametersSetAsync();
    }
}