@page "/attendees"
@using Blazm.Components
@inject INextTechEventApi _api

<div class="d-flex flex-wrap justify-content-center gap-4">
    <Virtualize ItemsProvider="_api.GetConferencesAsync" Context="item">
        <ConferenceItem Item="@item" ShowCFP="false"/>
    </Virtualize>
</div>