@page "/attendees"
@using Blazm.Components
@inject INextTechEventApi _api

<table>
    <Virtualize ItemsProvider="_api.GetConferencesAsync" Context="c">
        <tr>
             <td>
                @c.EventStart
            </td>
            <td class="conferencename">
                <a href="@($"Conferences/{c.Id}")">@c.Name</a>
            </td>
        </tr>
    </Virtualize>
</table>