@page "/Attendees"
@inject INextTechEventApi _api

<input type="text" placeholder="Search for conference name, city, country or tags" class="search" @bind="searchterm" @onkeypress="Search" @bind:event="oninput" />

<div class="d-flex flex-wrap justify-content-center gap-4">
    @if (Conferences.Any())
    {
        @foreach (var item in Conferences)
        {
            <ConferenceItem Item="@item" ShowCFP="false" />
        }
    }
    else
    {
        <text>No results</text>
    }

</div>

@code {
    List<Conference> Conferences = new();
    string searchterm = "";
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
        await base.OnInitializedAsync();
    }

    async Task Search(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            await LoadDataAsync();
        }
    }

    private async Task LoadDataAsync()
    {
        Conferences = (await _api.SearchActiveConferencesAsync(false, searchterm)).OrderBy(c => c.CfpEndDate).ToList();
    }
}