@page "/conferences/{*ConferenceId}"
@using System.Globalization

@inject INextTechEventApi _api

@if (conference != null)
{    <h1>@conference.Name</h1>
    <h2>@conference.EventStart.ToString("MMMM dd, yyyy",culture) - @conference.EventEnd.ToString("MMMM dd, yyyy",culture)</h2>
    <h3>@conference.City</h3>
}

@code{
    [Parameter]
    public string ConferenceId { get; set; }
    Conference? conference = null;
    CultureInfo culture=CultureInfo.GetCultureInfo("en-US");
    protected override async Task OnParametersSetAsync()
    {
        
        conference = await _api.GetConferenceAsync(ConferenceId);
        await  base.OnParametersSetAsync();
    }
}