.conferenceimage {
    align-items:start !important;
}

.temperature {
    font-size: 2rem;
    font-weight: bold;
}

.date {
    font-size: 0.8rem;
}

.icon{
    font-size:3rem;
}

.temperatures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.temperature-item {
    flex: 1;
    margin: 10px;
}
