@page "/Speaker"
@inject INextTechEventApi _api

<div class="d-flex flex-wrap justify-content-center gap-4">
        @foreach(var item in confs)
        {
            <ConferenceItem Item="@item"/>
        }
</div>

@code{
    List<Conference> confs = new();

    protected override async Task OnInitializedAsync() {
        confs = (await _api.GetConferencesAsync()).Where(c => c.CfpEndDate > DateTime.Now).OrderBy(c=>c.CfpEndDate).ToList();
        await base.OnInitializedAsync();
    }

}