@page "/Speaker"
@inject INextTechEventApi _api

<table>
    <Virtualize ItemsProvider="_api.GetConferencesWithOpenCfpAsync" Context="c">
        <tr>
            <td class="conferencename">
                <a href="@($"Conferences/{c.Id}")">@c.Name</a>
            </td>
            <td class="text-end p-2">
                @c.CfpEndDate.ToClosingIn()
            </td>
        </tr>
    </Virtualize>
</table>
