.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    padding: 10px;
}


.flexlist {
    display: flex;
    flex-wrap: wrap;
}