::deep .nav-link {
    display: block;
    padding: .5rem 1rem !important;
    /* color: #0d6efd; */
    color: red !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    color: var(--dark);
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a,
a:visited,
::deep .nav-link {
    color: var(--dark) !important;
}

.profilelink {
    color: rgba(255,255,255,.55) !important;
}
