::deep .nav-link {
    display: block;
    padding: .5rem 1rem !important;
    color: var(--dark) !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    color: var(--dark);
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a,
a:visited,
::deep .nav-link {
    color: var(--dark) !important;
}

.navbar-toggler {
    border-color: var(--dark);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2826%2C 18%2C 1%2C 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.profilelink {
    color: rgba(26,18,1,.65) !important;
}
