@inject IJSRuntime jsRuntime

<div id="@id" class="text-color">-</div>

@code {
    string id=Guid.NewGuid().ToString();
    [Parameter]
    public long Start { get; set; } = 0;
    [Parameter]
    public long End { get; set; } = 0;
    [Parameter]
    public long Interval { get; set; } = 5000L;

    bool refresh = true;
    protected override Task OnParametersSetAsync()
    {
        refresh = true;
        return base.OnParametersSetAsync();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender || refresh)
        {
            refresh = false;
            IJSObjectReference jsRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "/Components/AnimatedCounter.razor.js");
            await jsRef.InvokeVoidAsync("animateValue", id, Start,End,Interval);
        }
        await  base.OnAfterRenderAsync(firstRender);
    }
}
