@page "/Profile/Settings"
@inject NavigationManager navigation
@inject INextTechEventApi _api
@if (Settings != null)
{
    <EditForm Model="Settings" OnSubmit="Save">
        @if (Settings.Id != null)
        {
            <BlazmInputText LabelText="Calendar Url" @bind-Value="Url" Disabled="true" />
        }
        <br/>
        <BlazmInputText LabelText="SessionizeUrl" @bind-Value="Settings.SessionizeCalendarUrl" />

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}
else
{
    <button @onclick="EnableCalendarAsync">Activate calendar</button>
}

@code {
    public NextTechEvent.Data.Settings? Settings { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    public string Url { get; set; } = "";
    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(authenticationStateTask);
        var authState = await authenticationStateTask;
        var user = authState.User;
        var id = user?.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
        Settings = await _api.GetCalendarByUserIdAsync(id);
        UpdateUrl();
    }

    private async Task EnableCalendarAsync()
    {
        ArgumentNullException.ThrowIfNull(authenticationStateTask);
        var authState = await authenticationStateTask;
        var user = authState.User;
        var userId = user?.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
        if (userId != null)
        {
            Settings = new()
            {
                UserId = userId
            };
        }
    }

    public async Task Save()
    {
        
        if (Settings != null)
        {
            Settings = await _api.SaveSettingsAsync(Settings);
            if (!string.IsNullOrEmpty(Settings.SessionizeCalendarUrl))
            {
                //Download the calendar from Sessionize and sync
                await _api.UpdateStatusBasedOnSessionizeCalendarAsync(Settings);
            }
        }
        UpdateUrl();
    }

    private void UpdateUrl()
    {
        if (Settings != null)
        {
            Url = $"{navigation.BaseUri}Calendar/{Settings.Id}";
        }
    }
    
}
